@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

header {
    position: absolute;
    width: 1342px;
    height: 41px;
    left: 49px;
    top: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

header p {
    width: 100px;
    height: 50px;
    float: left;
}

header h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

header h2 {
    float: right;
}

.hero {
    width: auto;
    height: 1332px;
    background: #DFCCC2;
}

.img1 {
    position: absolute;
    width: 412px;
    top: 171px;
    left: 528px;
}

.img2 {
    position: absolute;
    width: 243px;
    top: 179px;
    left: 875px;
}

.img3 {
    position: absolute;
    width: 197px;
    top: 489px;
    left: 439px;
}

.img4 {
    position: absolute;
    width: 182px;
    left: 830px;
    top: 530px;
}

.img5 {
    position: absolute;
    width: 365px;
    left: 1000px;
    top: 900px;
}

.img6 {
    position: absolute;
    width: 312px;
    top: 850px;
    left: 100px;
}

.hero-p1 {
    position: absolute;
    font-family: 'lexend Deca';
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.5px;
    color: white;
    left: 270px;
    top: 222px;
}

.hero-p2 {
    position: absolute;
    width: 194px;
    top: 500px;
    left: 1000px;
    font-family: 'lexend Deca';
    font-style: normal;
    color: #6E645F;
    text-shadow: 0px 0px 4px 4px (rgba(0, 0, 0, 0.25));
}

.hero-p3 {
    position: absolute;
    color: #6E645F;
    text-shadow: 0px 0px 4px 4px (rgba(0, 0, 0, 0.25));
    font-size: 20px;
    top: 1050px;
    left: 450px;
}

.hero-p4 {
    position: absolute;
    color: white;
    text-shadow: 0px 0px 4px 4px (rgba(0, 0, 0, 0.25));
    font-size: 36px;
    top: 1000px;
    left: 450px;
}

.hero2 {
    background: #C5CEBD;
    width: auto;
    height: 1065px;
}

.hero2-img1 {
    position: absolute;
    width: 558px;
    top: 1500px;
}

.hero2-p1 {
    position: absolute;
    font-family: 'lexend Deca';
    font-style: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.5px;
    color: white;
    left: 480px;
    top: 1600px;
}

.hero2-p2 {
    position: absolute;
    color: #6E645F;
    text-shadow: 0px 0px 4px 4px (rgba(0, 0, 0, 0.25));
    font-size: 20px;
    top: 1800px;
    left: 700px;
}